body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 20%;
}

.header{
    text-align: center;
}

.header p {
    text-align: justify;
}

.header_banner {
    height: auto;
    width: auto;
    display: flex;
    position: relative;

}
.header_banner{
    text-align: justify;
}

.tech_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10%;
}

.tech_icons_item {
    text-align: center;
    
}
.tech_icons_item:hover {
    transition: 0.2s;
    transform: scale(1.1);
    
}